<html>
    <head>
        <link href="agentStyle.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">

        
        <form onsubmit="handleSubmit()" id="agentForm">

        <div class="inputField">
            
            <span> Please enter your role :</span>
                <div data-tooltip="Some info">
                <input type="text" id="Role" placeholder="Your role..">
            </div>
        </div>
            <!-- <p>
                Is it a full time position ?
                <input type="checkbox" value="Y" id="fulltimeYes" class="fullTime" name="fullTime">
                <label for="fulltimeYes">Yes</label>   
                <input type="checkbox" value="N" id="fulltimeNo" class="fullTime" name="fullTime">                
                <label for="fulltimeNo">No</label>
            </p> -->

            <div class="inputField">
            
                <span> Enter the total number of worker positions</span>
                    <div data-tooltip="Some info">
                        <input type="text" id="workerPositions">
                </div>
            </div>

            <div class="inputField">
            
                <span>  Is it a new Emplpoyemnt ?</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="radio" value="1" id="newEmpYes" class="newEmp">
                        <label for="newEmpYes">Yes</label>   
                        <input type="radio" value="0" id="newEmpNo" class="newEmp">                
                        <label for="newEmpNo">No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span>  Please enter if its a continue Emplpoyemnt ? </span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="radio" value="1"  class="continueEmp" name="continue">
                        <label for="conYes">Yes</label>   
                        <input type="radio" value="0" class="continueEmp" name="continue">                
                        <label for="conNo">No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span>  Please enter if its a change of previous emplpoyemnt ? </span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="radio" value="1"  class="change" name="change">
                        <label>Yes</label>   
                        <input type="radio" value="0"  class="change" name="change">                
                        <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span>   Please enter if its a new concurrent employement ?</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="radio" value="1" class="concurrentEmp" name="concurrent">
                        <label>Yes</label>   
                        <input type="radio" value="0" class="concurrentEmp" name="concurrent">                
                        <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span>   Please enter if its a change of employer ?</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="radio" value="1" class="changeEmp" name="changeEmp">
                        <label>Yes</label>   
                        <input type="radio" value="0" class="changeEmp" name="changeEmp">                
                        <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span>  Please enter if its a ammended petition ?</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="radio" value="1" class="petition" name="petition">
                        <label>Yes</label>   
                        <input type="radio" value="0" class="petition" name="petition">                
                        <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span> Is an agent representing an employer ?</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type = "radio" value = "1" class="agent" name="agent">
                    <label> Yes</label>
                    <input type="radio" value = "0" class="agent" name="agent">
                    <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span> Secondary Entity ?</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type = "radio" value = "1" class="entity" name="entity">
                        <label> Yes</label>
                        <input type="radio" value = "0" class="entity" name="entity">
                        <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span>  Please enter your Employer Name :</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="text" id="employer">
                </div>
            </div>

            <div class="inputField">
            
                <span>Enter your salary</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="text" id="salary">
                </div>
            </div>

            <div class="inputField">
            
                <span>Enter your salary unit of pay</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="text" id="salaryUnit">
                </div>
            </div>

            <div class="inputField">
            
                <span>Enter the Prevailing wage :</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="text" id="prevailing">
                </div>
            </div>

            <div class="inputField">
            
                <span> Enter the prevailing unit of pay :</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="text" id="worksiteLocations">
                </div>
            </div>

            <div class="inputField">
            
                <span> Total Worksite Locations :</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="text" id="prevailingUnit">
                </div>
            </div>

            <div class="inputField">
            
                <span>Do you agree to LC statement :</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="radio" class="lc" name="lc" value="Yes">
                        <label>Yes</label>
                        <input type="radio" class="lc" name="lc" value="No">
                        <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span>Do you have h1b_dependent</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type = "radio" class="h1b_dep" name="h1b_dep" value="Yes">
                <label>Yes</label>
                <input type = "radio" class="h1b_dep" name="h1b_dep" value="No">
                <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span>Are you a willful violator</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type = "radio" class="violator" name="violator" value="Yes">
                        <label>Yes</label>
                        <input type = "radio" class="violator" name="violator" value="No">
                        <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span>Support H1-B</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type = "radio" class="suport" name="support" value="Yes">
                <label>Yes</label>
                <input type = "radio" class="support" name="support" value="No">
                <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span>  Satutory Basis :</span>
                    <div data-tooltip="Some info" class="checkboxes">
                        <input type="text" id="basis">
                </div>
            </div>
            
            <p>
                <input type="submit" id="submit">
            </p>
            
        </form>

        <p id="outcome">

        </p>

        <a href="/selection">
            <button id="back">BACK</button>
        </a>

    </div>
        <script src="ui.js"></script>
    </body>
</html>