<html>
    <head>
        <link href="agentStyle.css" rel="stylesheet">
    </head>
    <body>
        <div class="headerBox">
            <h3>AGENT FORM</h3>
        </div>
        <div class="container">

        
        <form onsubmit="handleSubmit()" id="agentForm">

        <div class="inputField">
            
            <span class="floatLeft"> Please enter your role :</span>
                <div data-tooltip="Your Job Role Ex. Data Engineer, Software Engineer">
                    <span class="moreInfo"> ? </span>
            </div>
            <input type="text" id="Role" placeholder="Your role.." class="checkboxes">
        </div>
            <!-- <p>
                Is it a full time position ?
                <input type="checkbox" value="Y" id="fulltimeYes" class="fullTime" name="fullTime">
                <label for="fulltimeYes">Yes</label>   
                <input type="checkbox" value="N" id="fulltimeNo" class="fullTime" name="fullTime">                
                <label for="fulltimeNo">No</label>
            </p> -->

            <div class="inputField">
            
                <span class="floatLeft"> Enter the total number of worker positions</span>
                <div data-tooltip="How many number of foreign workers requested by the Employer">
                    <span class="moreInfo"> ? </span>
                </div>
                    
                <input type="text" id="workerPositions" class="checkboxes" placeholder="..">
                
                
            </div>

            <div class="inputField">
            
                <span class="floatLeft">  Is it a new Emplpoyemnt ?</span>
                <div data-tooltip="Whether requested worker(s) will begin employment for new employer">
                    <span class="moreInfo"> ? </span>
                </div>
                <div class="checkboxes">
                    <input type="radio" value="1"  class="newEmp" name="newEmp">
                    <label for="newEmpYes">Yes</label>   
                    <input type="radio" value="0" class="newEmp" name="newEmp">                
                    <label for="newEmpNo">No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span class="floatLeft">  Please enter if its a continue Emplpoyemnt ? </span>
                <div data-tooltip="Whether requested worker(s) will be continuing employment with same employer">
                    <span class="moreInfo"> ? </span>
                </div>
                <div class="checkboxes">
                    <input type="radio" value="1"  class="continueEmp" name="continue">
                    <label for="conYes">Yes</label>   
                    <input type="radio" value="0" class="continueEmp" name="continue">                
                    <label for="conNo">No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span class="floatLeft">  Please enter if its a change of previous emplpoyemnt ? </span>
                <div data-tooltip="Some info">
                    <span class="moreInfo"> ? </span>
                </div>
                <div class="checkboxes">
                    <input type="radio" value="1"  class="change" name="change">
                        <label>Yes</label>   
                        <input type="radio" value="0"  class="change" name="change">                
                        <label>No</label>
                </div>
                        
            </div>

            <div class="inputField">
            
                <span class="floatLeft">   Please enter if its a new concurrent employement ?</span>
                <div data-tooltip="Whether requested worker(s) will begin employment with an additional employer">
                    <span class="moreInfo"> ? </span>
                </div>
                <div class="checkboxes">
                    <input type="radio" value="1" class="concurrentEmp" name="concurrent">
                        <label>Yes</label>   
                        <input type="radio" value="0" class="concurrentEmp" name="concurrent">                
                        <label>No</label>
                </div>
                        
            </div>

            <div class="inputField">
            
                <span class="floatLeft">   Please enter if its a change of employer ?</span>
                <div data-tooltip="Whether requested worker(s) will begin employment for new employer">
                    <span class="moreInfo"> ? </span>
                </div>
                <div class="checkboxes">
                    <input type="radio" value="1" class="changeEmp" name="changeEmp">
                        <label>Yes</label>   
                        <input type="radio" value="0" class="changeEmp" name="changeEmp">                
                        <label>No</label>
                </div>
                        
            </div>

            <div class="inputField">
            
                <span class="floatLeft">  Please enter if its a ammended petition ?</span>
                <div data-tooltip="Whether requested worker(s) will be continuing employment with same employer with material change to job duties">
                    <span class="moreInfo"> ? </span>
                </div>
                <div class="checkboxes">
                    <input type="radio" value="1" class="petition" name="petition">
                    <label>Yes</label>   
                    <input type="radio" value="0" class="petition" name="petition">                
                    <label>No</label>
                </div>
                       
            </div>

            <div class="inputField">
            
                <span class="floatLeft"> Is an agent representing an employer ?</span>
                <div data-tooltip="Whether Employer is represented by an Agent or Attorney">
                    <span class="moreInfo"> ? </span>
                </div>
                <div class="checkboxes">
                    <input type = "radio" value = "1" class="agent" name="agent">
                    <label> Yes</label>
                    <input type="radio" value = "0" class="agent" name="agent">
                    <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span class="floatLeft"> Secondary Entity ?</span>
                <div data-tooltip="Whether  Workers will be placed with a secondary entity or not">
                    <span class="moreInfo"> ? </span>
                </div>
                <div class="checkboxes">
                    <input type = "radio" value = "1" class="entity" name="entity">
                        <label> Yes</label>
                        <input type="radio" value = "0" class="entity" name="entity">
                        <label>No</label>
                </div>
                        
            </div>

            <div class="inputField">
                <span class="floatLeft">  Please enter your Employer Name :</span>
                <div data-tooltip="Specify Legal business name of the employer">
                    <span class="moreInfo"> ? </span>
                </div>
                <input type="text" id="employer" class="checkboxes">
            </div>

            <div class="inputField">
            
                <span class="floatLeft">Enter your salary</span>
                <div data-tooltip="Specify your salary per year">
                    <span class="moreInfo"> ? </span>
                </div>
                <input type="text" id="salary" class="checkboxes">
            </div>

            <!-- <div class="inputField">
            
                <span class="floatLeft">Enter your salary unit of pay</span>
                <div data-tooltip="Specify Unit of pay Example:Hour, Week, Bi-Weekly, Month, and Year">
                    <span class="moreInfo"> ? </span>
                </div>
                <input type="text" id="" class="checkboxes">
            </div> -->

            <div class="inputField">
            
                <span class="floatLeft">Enter the Prevailing wage :</span>
                <div data-tooltip="Specify Wage for the job being requested for First Worksite Location">
                    <span class="moreInfo"> ? </span>
                </div>
                  
                <input type="text" id="prevailing" class="checkboxes">
            </div>

            <div class="inputField">
            
                <span class="floatLeft"> Select the unit of pay :</span>
                <div data-tooltip="specify Unit of pay Example:Hour, Week, Bi-Weekly, Month, and Year">
                    <span class="moreInfo"> ? </span>
                </div>
                <div class="checkboxex">
                    <select id="salaryUnit">
                        <option value="hr">Hour</option>
                        <option value="Bi-Weekly">Bi- Weekly</option>
                        <option value="Year">Year</option>
                        <option value="Month">Month</option>
                    </select>
                </div>
            </div>

            <div class="inputField">
            
                <span class="floatLeft"> Total Worksite Locations :</span>
                <div data-tooltip="Specify number of worksites">
                    <span class="moreInfo"> ? </span>
                </div>
                <input type="text" id="worksiteLocations" class="checkboxes">
            </div>

            <div class="inputField">
            
                <span class="floatLeft">Do you agree to LC statement :</span>
                <div data-tooltip="Whether The employer has read and agrees to Labor Condition Statements or not">
                    <span class="moreInfo"> ? </span>
                </div>
                    <div class="checkboxes">
                        <input type="radio" class="lc" name="lc" value="Yes">
                        <label>Yes</label>
                        <input type="radio" class="lc" name="lc" value="No">
                        <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span class="floatLeft">Are you h1b_dependent</span>
                <div data-tooltip="whether employer is  H1B dependent or not">
                    <span class="moreInfo"> ? </span>
                </div>
                    <div class="checkboxes">
                        <input type = "radio" class="h1b_dep" name="h1b_dep" value="Yes">
                <label>Yes</label>
                <input type = "radio" class="h1b_dep" name="h1b_dep" value="No">
                <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span class="floatLeft">Are you a willful violator</span>
                <div data-tooltip="Whether Employer has been previously found to be a Willful Violator or not">
                    <span class="moreInfo"> ? </span>
                </div>
                    <div class="checkboxes">
                        <input type = "radio" class="violator" name="violator" value="Yes">
                        <label>Yes</label>
                        <input type = "radio" class="violator" name="violator" value="No">
                        <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span class="floatLeft">Support H1-B</span>
                <div data-tooltip="Some info">
                    <span class="moreInfo"> ? </span>
                </div>
                    <div class="checkboxes" id="">
                        <input type = "radio" class="suport" name="suport" value="Yes">
                        <label>Yes</label>
                        <input type = "radio" class="suport" name="suport" value="No">
                        <label>No</label>
                </div>
            </div>

            <div class="inputField">
            
                <span class="floatLeft">  Statutory Basis :</span>
                <div data-tooltip="Basis of the Support H-1B exemption example: Wage,Degree,Both">
                    <span class="moreInfo"> ? </span>
                </div>
                    <div class="checkboxes">
                        <input type="text" id="basis">
                </div>
            </div>
            
            <p>
                <input type="submit" id="submit">
            </p>
            
        </form>

        <p id="outcome">

        </p>

        <a href="/selection">
            <button id="back">BACK</button>
        </a>

    </div>
        <script src="ui.js"></script>
    </body>
</html>