<html>
    <head>
        <link href="employeeStyles.css" rel="stylesheet">
    </head>

    <body>
        <div class="headerBox">
            <h3>EMPLOYEE FORM</h3>
        </div>

        <div class="container">
        <form id="employeeForm" onsubmit="handleSubmit()">
            <div class="inputData">
                <span class="floatLeft"> Please enter your role : </span>
                <div data-tooltip="Your Job Role Ex. Data Engineer, Software Engineer">
                    <span class="moreInfo"> ? </span>
                </div>
                <input type = "text" id="role" class="checkboxes">
            </div>

            <div class="inputData">
                <span class="floatLeft"> Please enter your Employer's organization  </span>
                <div data-tooltip="Specify Legal business name of the employer Ex. Google LLC, Amazon">
                    <span class="moreInfo"> ? </span>
                </div>
                <input type ="text" id="empName" class="checkboxes">
            </div>
           
            <div class="inputData">
                <span class="floatLeft">
                    Please enter your salary :
                </span>
                <div data-tooltip="Specify employee's salary in $ per annum">
                    <span class="moreInfo"> ? </span>
                </div>
                <input type ="text" id="salry" class="checkboxes">
            </div>

            <div class="inputData">
                <span class="floatLeft">
                    Please enter prevailing wage (based on your research):
                </span>
                <div data-tooltip="Specify prevailing wage of that position in that region in $ per annum">
                    <span class="moreInfo"> ? </span>
                </div>
               
                <input type="text" id="prevWage" class="checkboxes">
            </div>

            <div class="inputData">
                <span class="floatLeft"> Please enter your country of citizenship :</span>
                <div data-tooltip="Specify employee's citizenship">
                    <span class="moreInfo"> ? </span>
                </div>
                <input type="text" id="country" class="checkboxes">
            </div>

            <div class="inputData">
                <span class="floatLeft">Do you have a minimum of or are you currently pursuing a Bachelor's Degree</span>
                <div data-tooltip="Specify if you have a bachelor's degree">
                    <span class="moreInfo"> ? </span>
                </div>
                <div class="checkboxes">
                    <input type="radio" value="Yes"  class="degree" name="degree">
                    <label for="newEmpYes">Yes</label>   
                    <input type="radio" value="No" class="degree" name="degree">                
                    <label for="newEmpNo">No</label>
                </div>
            </div>
                
            <input type="submit" value="Continue">
        </form>

        <p id="outcome">

        </p>
                    
        <a href="/selection">
            <button id="back">BACK</button>
        </a>

     

    </div>

        <script src="employeeForm.js"></script>
    </body>
</html>