<html>
    <body>
        <form id="employeeForm" onsubmit="handleSubmit()">
            <p>
                Please enter your role :
                <input type = "text" id="role">
            </p>
            
            <p>
                Please enter your Employer's organization
                <input type ="text" id="empName">
            </p>

            <p>
                Please enter your salary :
                <input type ="text" id="salry">
            </p>

            <p>
                Please enter prevailing wage (based on your research):
                <input type ="text" id ="prevWage">
            </p>

            <p>
                Please enter your country of citizenship :
                <input type="text" id="country">
            </p>
            
            <p>
                <input type="submit">
            </p>
          

        </form>

        <p id="outcome">

        </p>

        <script src="employeeForm.js"></script>
    </body>
</html>