<html>
    <head>
        <link href="information.css" rel="stylesheet">
    </head>

    <body>

        <div class="headerMenu">
            <p id = "header">TITLE</p>

            <div class="menuItems">
                <a id="menu1" href="/login"> Login</a>
                <a id="menu2" href="/register">Register</a>
                <a id="menu3" href="/references"> Know More About H1-B</a>
            </div>
        
        </div>

        <div class="container">
            <div class="infoBox">
                <div class="first">
                    <div class="stuff">
                        <h3 class="middle">WHAT IS H1B ? </h3>
                        <p>The H 1B visa is a temporary non-immigrant work permit issued in the United States.</p>
                        <p> The Major Requirments are  </p>
                        <p> A job offer from a U.S. employer for a role that requires specialty knowledge </p>
                        <p> Proof of a bachelor’s degree or equivalent in that field </p>
                        <p>Your employer must show that there is a lack of qualified U.S. applicants for the role </p>
                </div> 
                <h3 class="middle">PROCESS</h3>
                <div class="packs">
                    <div class="pack1">
                        <p class="centerP">LOTTERY STAGE</p>
                        <p>1 :computer-generated random selection procedure</p>
                        <p>2 :.85,000 new H-1B applications will be approvedby the US Department of Immigration </p>
                        <p> 3: .Out of 85000, 65000 are given to highly skilled foreign workers employed by professional MNC organizations andremaining 20,000 are designated for master’s degree-holdinforeign students who attended a US-accredited universit</p>
                    </div>
                    <div class="pack2">
                        <p class="centerP">LCA Stage</p>
                        <p>1 :The Labor Condition Application (LCA)(ETA9035) is an application filed by prospective employers on behalf of workers applying forwork authorization for the non-immigrant status </p>
                        <p>2 : LCA approved by Department of Labour (DOL)</p>
                        <p>3: I129 Approval and I797 Aprroval </p>
                    </div>
                    <div class="pack3">
                        <p class="centerP">INTERVIEW Stage </p>
                        <p>1 :you may be asked questions about yourself, the job, your experience, the employer and your travel history </p>
                        <p>2 : </p>
                    </div>
            </div>                                
                </div>
                <div class="second">
                    <div class="stuff">
                        <p>SECOND</p>
                        <p>Implementation plan</p>
                        <p> Your H1B should be chosen in the lottery since our service will predict the outcome based on LCA stage by taking into account a number of factors, such as...</p>
                    </div>
                 
                </div>
                <div class="third">
                    <div class="stuff">
                        <p>THIRD</p>
                        <p>WHAT DO THE RESULTS MEAN ?</p>
                    </div>
                    
                </div>

                <div class="predictBox">
                    <button id="predict"><a href="/login">PREDICT YOUR CHANCES</a></button>
                </div>
            </div>
        </div>
    </body>
</html>