<html>
    <head>
        <link href="information.css" rel="stylesheet">
    </head>

    <body>

        <div class="headerMenu">
            <p id = "header">TITLE</p>

            <div class="menuItems">
                <a id="menu1" href="/login"> Login</a>
                <a id="menu2" href="/register">Register</a>
                <a id="menu3" href="/moreOnH1B"> Know More About H1-B</a>
            </div>
        
        </div>

        <div class="container">
            <div class="infoBox">
                <div class="first">
                    <div class="stuff">
                    <p>TALK ABOUT H1B</p>
                    <p> Possible stages where you can get a rejection</p>
                </div> 
                    <div class="packs">
                        <div class="pack1">
                            <p class="centerP">LOTTERY SYSTEM</p>
                            <p>1 : </p>
                            <p>2 : </p>
                        </div>
                        <div class="pack2">
                            <p class="centerP">FILING PROCESS</p>
                            <p>1 : </p>
                            <p>2 : </p>
                        </div>
                        <div class="pack3">
                            <p class="centerP">INTERVIEW & RESULTS</p>
                            <p>1 : </p>
                            <p>2 : </p>
                        </div>
                    
                </div>                 
                </div>
                <div class="second">
                    <div class="stuff">
                        <p>SECOND</p>
                        <p>WHAT ARE WE ? AND WHICH STEP WE CAN HELP YOU WITH?</p>
                    </div>
                 
                </div>
                <div class="third">
                    <div class="stuff">
                        <p>THIRD</p>
                        <p>WHAT DO THE RESULTS MEAN ?</p>
                    </div>
                    
                </div>

                <div class="four">
                    <div class="stuff">
                        <p>MORE INFO :</p>
                        <p>Articles and links that helped us gather this info : </p>
                        <p>Refernces</p>
                    </div>
                  
                </div>

                <div class="predictBox">
                    <button id="predict"><a href="/login">PREDICT YOUR CHANCES</a></button>
                </div>
            </div>
        </div>
    </body>
</html>