<html>
    <head>
    <link href="reference.css" rel="stylesheet">
    </head>
    <body>
        <div class="headerMenu">
            <p id = "header">TITLE</p>

            <div class="menuItems">
                <a id="menu1" href="/login"> Login</a>
                <a id="menu2" href="/register">Register</a>
                <a id="menu3" href="/moreOnH1B"> Know More About H1-B</a>
            </div>
        
        </div>

        <div class="container">
            <div class="stuff">
                <p>MORE INFO :</p>
                <p>Articles and links that helped us gather this info : </p>
                <ul>

                </ul>
                <li><a href="https://www.boundless.com/immigration-resources/the-h-1b-visa-explained/#the-h1b-visa-process">H1B-VISA PROCESS</a></li>
                <li><a href="https://www.uscis.gov/working-in-the-united-states/h-1b-specialty-occupations">H1B Speciality Occupations</a></li>
                <li><a href="https://www.lawfirm4immigrants.com/h1b-positions-degree-requirements/">H1B Degree requirements</a></li>
            </div>
            </div>
        </div>
    </body>
</html>
