<html>

<head>
    <link rel="stylesheet" type="text/css" href="selectionStyle.css">
</head>

<body>

    <div id="info"><p class ="info">Select your role for the application :
      If you are an employee and want to predict your chances please select <b>Employee</b>
      Or, If you are an Employer or an agent acting behalf of an Employer please select <b>Agent</b> option
    </p>
  </div>

    <form id="app-cover" onsubmit="handleSubmit()">      
      <div class="select-box">
       <select id="formChosen">
          <div class="options">
            <option value="Agent">Agent</option>
          </div>
          <div class="options">
            <option value="Employee">Employee</option>
          </div>
        </select>
        </div>
        <div class="submitBox">
          <input type="submit" value="Continue" class="submit">
        </div>
    </form>
    <script src="selectController.js"></script>
</body>

</html>