<html>
    <body>
        <div id="selection" class = "selection">
            <p>
                <a href="/agentForm"> AgentForm</a>
            </p>
            <p>
                <a href="/employerForm">Employer Form</a>
            </p>
            <a href="/">
                <button>BACK</button>
            </a>
        </div>
    </body>
</html>